<div class="info-block">
    <div class="info-block-label ">
      <div class="min">
        <span class="thermo material-symbols-outlined">
          thermometer
          <span class="snow-flake material-symbols-outlined">
            ac_unit
          </span>
        </span>
        
        <div class="info-block-value">
          <div><h3>temppp</h3></div>
          {{temp}}°C
        </div>
      </div>


      <div class="max">
        <span class="thermo material-symbols-outlined">
          stream
          <span class="snow-flake material-symbols-outlined">
            sunny
          </span>
        </span>
        <div class="info-block-value">
          <div><h3>feels</h3></div>
          {{feels}}°C
        </div>
      </div>
    </div>

    <div class="info-block-label ">
      <div class="wind">
        <span class="thermo material-symbols-outlined">
          air
        </span>
        <div class="info-block-value">
          <div><h3>wind</h3></div>
          {{wind_kph}} Km/h
        </div>
      </div>

      <div class="max">
        <span class="thermo material-symbols-outlined">
          humidity_percentage
        </span>
        <div class="info-block-value">
          <div><h3>water</h3></div>
          {{humidity}}%
        </div>
      </div>

    </div>

  </div>