<div class="container">
  <div class="upper-data">
    <img src="../assets/Afternoon.jpg" *ngIf="14>15">
    <img src="../assets/night.gif" *ngIf="14<=15">
    <div class="weather-data">
      <div class=" location">Dhaka</div>
      <div class="temparature">{{14.40 | number: '1.0-0'}}°C</div>
    </div>

  </div>
  <div class="lower-data">
    <div class="more-info-label">
      More Information
    </div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label ">
          <div class="min">
            <span class="thermo material-symbols-outlined">
              thermometer
              <span class="snow-flake material-symbols-outlined">
                ac_unit
              </span>
            </span>
            
            <div class="info-block-value">
              <div><h3>min</h3></div>
              10°C
            </div>
          </div>


          <div class="max">
            <span class="thermo material-symbols-outlined">
              thermometer
              <span class="snow-flake material-symbols-outlined">
                sunny
              </span>
            </span>
            <div class="info-block-value">
              <div><h3>max</h3></div>
              40°C
            </div>
          </div>
        </div>

        <div class="info-block-label ">
          <div class="wind">
            <span class="thermo material-symbols-outlined">
              air
            </span>
            <div class="info-block-value">
              <div><h3>wind</h3></div>
              {{wind_kph}} Km/h
            </div>
          </div>

          <div class="max">
            <span class="thermo material-symbols-outlined">
              humidity_percentage
            </span>
            <div class="info-block-value">
              <div><h3>water</h3></div>
              {{humidity}}%
            </div>
          </div>

        </div>

      </div>
    </div>

  </div>
</div>

<router-outlet></router-outlet>