<div class="search-box">
  <input type="text" #city />
  <button (click)="onClick(city.value)">Search</button>
</div>

<div class="container">
  <div class="upper-data">
    <img src="../assets/Afternoon.jpg" *ngIf="isDay">
    <img src="../assets/night.gif" *ngIf="!isDay">
    <div class="weather-data">
      <div class=" location">{{location}}</div>
      <div class="temparature">{{temp | number: '1.0-0'}}°C</div>
      <div class="time location">{{time}}</div>
    </div>

  </div>
  <div class="lower-data">
    <div class="more-info-label">
      More Information
    </div>
    <div class="more-info-container">
      <app-info
        [humidity]="humidity"
        [temp]="temp"
        [feels]="feels"
        [wind_kph]="wind_kph"
        *ngIf="page===1"
      ></app-info>
      <app-info2

        [pressure_mb]="pressure_mb"
        [wind_dir]="wind_dir"
        [gust]="gust"
        [UV]="UV"
        
        *ngIf="page===2"
      ></app-info2>
      <app-info3
        [humidity]="humidity"
        [temp]="temp"
        [feels]="feels"
        [wind_kph]="wind_kph"
        *ngIf="page===3"
      ></app-info3>
    </div>
  <div class="more-info-buttons">
    <div class="links">
      <button (click)="changePage(1)" [ngStyle]="{'background-color': page === 1 ? 'grey' : 'white'}">1</button>
      <button (click)="changePage(2)" [ngStyle]="{'background-color': page === 2 ? 'grey' : 'white'}">2</button>
      <button (click)="changePage(3)" [ngStyle]="{'background-color': page === 3 ? 'grey' : 'white'}">3</button>
    </div>
  </div>
</div>
</div>
<span (click)="toggleFbForm()" class="fb-button material-symbols-outlined">
  chat
</span>
<app-fb-form (toggleFbForm)="toggleFbForm()" *ngIf="showFBForm"></app-fb-form>